# Assignment 5

1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [5]:
aList = [100, 200, 300, 400, 500]
#l1 = aList[::-1]
aList.reverse()
aList

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [18]:
l1 = [ element for element in range(150,250,2) ]
l2 = [element for element in l1 if element%4==0 ]
l2

[152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248]

In [16]:
for i in range(150,250,2):
    li1.append(i)
#l1
l2=[]
for i in l1:
    if i%4==0:
        l2.append(i)
l2

[152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248]

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [26]:
import math
aList = [1, 4, 9, 16, 25, 36, 49] 
aList = [int(math.sqrt(i)) for i in aList ]
aList

[1, 2, 3, 4, 5, 6, 7]

In [27]:
import math
aList = [1, 4, 9, 16, 25, 36, 49] 
aList1=[]
for i in aList:
    aList1.append(int(math.sqrt(i)))
aList=aList1
print(aList)

[1, 2, 3, 4, 5, 6, 7]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [31]:
list1 = [5,6,7]
list2 = [0,1]
for i in list1:
    for j in list2:
        print(str(i)+str(j))

50
51
60
61
70
71

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [52]:
l1 = [10,20,30,40]
l2 = [100,200,300,400]
l3 = []
l2 = l2[::-1]
for i in range(len(l1)):
    print(l1[i],l2[i])

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [54]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
for i in list1:
    if i=="":
        list1.remove(i)
list1

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [57]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n'] 

solution
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

In [60]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list2 = ["h", "i", "j"]
list1[2][1][2].extend(list2)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [62]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(list1)):
    if list1[i]==20:
        list1[i]=200
        break
list1

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [66]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i==20:
        list1.remove(i)
list1

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [91]:
number_s = input("Enter the number ")
list1=[]
for i in number_s:
    list1.append(i)
list1.sort()
number_min=""
number_max=""
for i in range(len(list1)):
    number_min=number_min+list1[i]
    number_max = number_max +list1[len(list1)-i-1]
print(number_max)
print(number_min)

Enter the number 23523
53322
22335

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [43]:
from itertools import permutations
number_s = input("Enter the number ")
list1=[]
for i in number_s:
     list1.append(i)
print(list1)
l2=[]
for i in range(len(list1)):
    l2.append(permutations(list1,i+1))
l3=[]
for i in l2:
    for j in i:
        l3.append("".join(j))
print(l3)
l4 = [e for e in l3 if int(e)%2!=0 ]
print(l4)

Enter the number 123
['1', '2', '3']
['1', '2', '3', '12', '13', '21', '23', '31', '32', '123', '132', '213', '231', '312', '321']
['1', '3', '13', '21', '23', '31', '123', '213', '231', '321']

# Advanced Question

Q. What will be output of following and explain why?
a. 
l1 = [ 0 , 1]
x= l1[0]
x, l1[x] = 1, 300
print(l1)

b.
comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'), 4]
print(comp)

In [95]:
l1 = [ 0 , 1]
x= l1[0]
x, l1[x] = 1, 300
print(l1)

[0, 300]

In [96]:
comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'), 4]
print(comp)

True

Scenario Based Question  : Difficulty -> Medium

1.	Take a list of integers. Every time you can select the first element or last element.
Always next number selected should be less than or equal to the currently selected number. If no number can be selected to fulfill all conditions then return False. If all elements are completed using the selection criteria then print True. You have to try all the combinations possible before conclusion.

Ex. 
L=[1,2,3,4,5]

We can select 1 or 5 at step 1
Assume, First 5 is selected (last element)
Then, [1,2,3,4]we can select 1 or 4,  we will select 4 because 4<5
Then [1,2,3] we can select 1 or 3, so select 3 because 3<5

Like this we can select 5,4,3,2,1 and all elements are selected so print True
But if we select 1 then we cannot select further elements
Because, after selecting 1 list will be [2,3,4,5] and first 2 and last 5 both are greater than 1

So, when selecting first element use the right choice so that there can be possibility of selection of all elements

L=[1,3,2]

We can select 1 or 2 at step1
Assume we select 1,
Then [3,2] so we can select 3 or 2 but both are greater than 1
So, there is no way we can completely select all elements

Assume we select 2,
Then [1,3], so we can select 1 or 3, we select 1 because 1<2,
Then [3], so we can ONLY select 3 but 3 is greater than 1

So print False, because in all options we cannot select all elements from the list

In [85]:
import sys
l1 = [1,2,3,4,5,6]
max_e_p=sys.maxsize
while len(l1)>0:
    max_e=max(l1[0],l1[-1])
    if max_e_p<=max_e:
        if min(l1[0],l1[-1])<=max_e:
            break
        else:
            max_e=min(l1[0],l1[-1])
            l1.remove(max_e)
    #print(max_e)
    max_e_p=max_e
    l1.remove(max_e)
if len(l1)>0:
    print(False)
else:
    print(True)

True