In [1]:
import mysql.connector

In [14]:
cnx=mysql.connector.connect(user='root',
                        password='root',
                        host='127.0.0.1')
cur=cnx.cursor()
cur.execute("""CREATE DATABASE XYZ""")
cnx.commit()
cnx.close()

In [20]:
cnx = mysql.connector.connect(user="root",
                              password="root",
                              host="127.0.0.1",
                             database='XYZ'
                             )
cur=cnx.cursor()
cur.execute("""CREATE TABLE student (roll_no int,name varchar(20),marks int );""")
cnx.commit()
cnx.close

In [33]:
cnx = mysql.connector.connect(user="root",
                              password="root",
                              host="127.0.0.1",
                              database='XYZ')
cur = cnx.cursor()
cur.execute("""INSERT INTO student(roll_no,name,marks) VALUES(1,"PRAVEER",90);""")
cnx.commit()
cnx.close()

In [56]:
cnx = mysql.connector.connect(user="root",
                              password="root",
                              host="127.0.0.1",
                              database='XYZ')
cur = cnx.cursor()
cur.execute("""select * from student""")
for i in cur:
    print(i)
cnx.commit()
cnx.close()

(1, 'PRAVEER', 90)
(1, 'PRAVEER', 90)
(9, 'name1', 91)
(8, 'name2', 92)

In [54]:
data = [
    [9,"name1",91],
    [8,"name2",92]
]
cnx = mysql.connector.connect(user="root",
                              password="root",
                              host="127.0.0.1",
                              database="XYZ"
)

In [55]:
cur = cnx.cursor()
for i in data:
    a="INSERT INTO student(roll_no,name,marks) values("+str(i[0])+", '"+i[1]+"',"+str(i[2])+");"
    cur.execute(a)
cnx.commit()
cnx.close()

In [51]:
data = [
    [9,"Tejveer",91],
    [8,"Veer",92]
]
for i in data:
    a="INSERT INTO student values("+str(i[0])+","+str(i[1])+","+str(i[2])+");"
    print(a)

INSERT INTO student values(9,Tejveer,91);
INSERT INTO student values(8,Veer,92);

In [57]:
import mysql.connector

In [58]:
mysql.connector.connect(user="root",
                        password="root",
                        host="127.0.0.1"

)
cur=cnx.cursor()
cur.execute("""CREATE DATABASE XYZ1""")
cnx.commit()
cnx.close()

In [59]:
cnx=mysql.connector.connect(user="root",
                        password="root",
                        host="127.0.0.1",
                        database="XYZ"

)
cur=cnx.cursor()
cur.execute()