In [ ]:
Lambda and map Function Assignments


Q Sort all the numbers in a list in descending order using lambda function

Q Sort all the characters of given string using lambda function

Q Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

Q Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

Q. Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id . Also print all employees in alphabetical order by name.

Q. Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

Q Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

Q Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [ ]:
Q1) Sort all the numbers in a list in descending order using lambda function

In [7]:
l1=[1,2,3,4,5]
(lambda l:print(l[::-1]))(l1)

[5, 4, 3, 2, 1]

In [9]:
sorted(l1,key=(lambda e:-e))

[5, 4, 3, 2, 1]

In [ ]:
Q2) Sort all the characters of given string using lambda function

In [4]:
str1='praveer'
sorted(str1,key=(lambda c:c))

['a', 'e', 'e', 'p', 'r', 'r', 'v']

In [ ]:
Q3) Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [9]:
list_s=['My','Name','is','Praveer']
sorted(list_s,key=(lambda e:e[-1]))

['Name', 'Praveer', 'is', 'My']

In [11]:
list_s=['My','Name','is','Praveer']
def last_c(e):
    return e[-1]

sorted(list_s,key=last_c)
a=last_c
print(a)
a('qwe')

<function last_c at 0x0000021ADA04EB60>

'e'

In [ ]:
#Sort using last char without using the sort function

In [ ]:
Q4) Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [10]:
l1=['Praveer','Praveer','Tejveer','Ganesh','Amrut','Prajwal']
l1=list(set(l1))
l2=sorted(l1,key=lambda w: w[1])
print(l2)

['Ganesh', 'Tejveer', 'Amrut', 'Praveer', 'Prajwal']

In [8]:
l1=['Praveer','Praveer','Tejveer','Ganesh','Amrut','Prajwal']
l1=list(set(l1))
def fun(w):
    return w[1]
sorted(l1,key=fun)

['Ganesh', 'Tejveer', 'Amrut', 'Praveer', 'Prajwal']

Q5) Take Employee id and Employee name of 5 employees from user. 
Store it in dictionary. Print all employees in increasing order of employee Id . 
Also print all employees in alphabetical order by name.

In [30]:
l1={1:'Praveer',4:'Tejveer',3:'Ganesh',7:'Amrut',9:'Prajwal'}

l2=sorted(l1,key= lambda x:x)
for i in l2:
    print(l1[i])
print("--------------------------")  
l3=sorted(l1,key=lambda x:l1[x])
for i in l3:
    print(l1[i])

Praveer
Ganesh
Tejveer
Amrut
Prajwal
--------------------------
Amrut
Ganesh
Prajwal
Praveer
Tejveer

In [ ]:
Q. Take comma separated numbers as input from the user. Split it in list of strings. 
Now convert every string in this list to float using map function

In [51]:
l1=input('Enter the number comma separated').split(',')
def str_to_float(str1):
    return float(str1)
l2=list(map(str_to_float,l1))
print(l2)

Enter the number comma separated1,2,3,4
[1.0, 2.0, 3.0, 4.0]

In [ ]:
Q Given list of floating point numbers. 
Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [50]:
l1=[1.1,2.2,3.3,4.4]
l2=list(map(str,l1))
l3='|'.join(l2)
print(l3)

1.1|2.2|3.3|4.4

In [ ]:
Q Given list of integers. Use map function to calculate square of all and store in list. 
Then print sum of all square values.

In [45]:
l1=[1,2,3,4,5]
def square(x):
    return x**2
l2=list(map(square,l1))
sum=0
for i in l2:
    sum+=i
print(sum)

55