In [ ]:
Q WA function to take a number ass parameter and  print True if given number is even else print False

Q WA function to take list as parameter and print all numbers of given list which are divisible by 11

Q WA function to take string as parameter
Check if string is palindrome are not
If palindrome return 1
if not palindrome return 0

Q WA function to check if number is prime or not. Return True if number is prime and false if number not prime.

Q WA function to take a string as parameter. Print its alternate characters starting from 2nd character

Q WA function to take dictionary as parameter. Print all keys of the dictionary

Q WA function to take a dictionary as parameter. Print value of key "name" if key "rollno" is having value 100.

Q WA function to list of strings as parameter and print all strings which have character 's' 2 times

Q WA function to take list of dictionaries. Print all dictionaries which contain key "id".

Q1 WA function to take a number ass parameter and  print True if given number is even else print False

In [4]:
def odd_even(num):
    if num%2==0:
        print(num,'is even')
        return
    else:
        print(num,'is odd')
        return
odd_even(0)

0 is even

Q2 WA function to take list as parameter and print all numbers of given list which are divisible by 11

In [6]:
def div_11(l1):
    l2=[]
    for e in l1:
        if(e%11==0):
            l2.append(e)
    return l2
l1=[11,12,13,22,23]
print(div_11(l1))

[11, 22]

Q3 WA function to take string as parameter
Check if string is palindrome are not
If palindrome return 1
if not palindrome return 0

In [22]:
def check_palindrome(s):
    check=True
    for i in range(len(s)):
        if s[i]==s[len(s)-i-1]:
            pass
        else:
            check=False
            return 0
    if check==True:
        return 1
print(check_palindrome('abccbaa'))

0

In [55]:
def check_palindrome(s):
    if s==s[::-1]:
        return 1
    else:
        return 0
print(check_palindrome('abccba'))

1

Q4 WA function to check if number is prime or not. Return True if number is prime and false if number not prime.

In [10]:
def check_prime(number):
    for i in range(2,int(number**0.5)+1):
        if number%i==0:
            return 'number is not prime'
    return 'number is prime'
    
print(check_prime(14))

number is not prime

In [ ]:
Q5 WA function to take a string as parameter. Print its alternate characters starting from 2nd character

In [13]:
def alternate_char(string1):
    return string1[1::2]

print(alternate_char('Praveer'))

rve

Q6 WA function to take dictionary as parameter. Print all keys of the dictionary

In [30]:
def display_dict(d2):
    for i in d2:
        print(i)
d1={1:"a",2:"b",3:"c"}
display_dict(d1)

1
2
3

Q7 WA function to take a dictionary as parameter. Print value of key "name" if key "rollno" is having value 100.

In [32]:
def dict_d(d2):
    if d2['rollno'] == 100:
        print(d2['name'])
    
d1={'name':"a","rollno":100}
dict_d(d1)

a

Q WA function to take a dictionary as parameter. Print value of key "price" if key "item" is milk.

In [36]:
def dict_a(d3):
    if d3['item']=='milk':
        print(d3['price'])
    
d1={'price':100,"item":'milk'}
dict_a(d1)

100

Q8 WA function to list of strings as parameter and print all strings which have character 's' 2 times

In [42]:
def dict_b(l1):
    l2=[]
    for i in l1:
        if i.count('s')==2:
            l2.append(i)
    return l2

l1=['ss','sas','aas','aaa']
l2=dict_b(l1)
print(l2)

['ss', 'sas']

Q9 WA function to take list of dictionaries. Print all dictionaries which contain key "id".

In [47]:
def dict_c(l1):
    l2=[]
    for i in l1:
        for j in i:
            if j=='id':
                l2.append(i)
                break
    return l2

l1=[{'name':1,'id':10},{'name':2},{'name':3,'id1':20},{'name':4,'id2':20},{'name':5,'id':20}]
l2=dict_c(l1)
print(l2)

[{'name': 1, 'id': 10}, {'name': 5, 'id': 20}]

In [53]:
def dict_c(l1):
    l2=[]
    for i in l1:
        if 'id' in i.keys():
            l2.append(i)
    return l2

l1=[{'name':1,'id':10},{'name':2},{'name':3,'id1':20},{'name':4,'id2':20},{'name':5,'id':20}]
l2=dict_c(l1)
print(l2)

[{'name': 1, 'id': 10}, {'name': 5, 'id': 20}]