In [2]:
a=input("enter the number")
print(a,type(a))

enter the number34
34 <class 'str'>

In [4]:
print("praveer","pratap","a","f",sep='#')

praveer#pratap#a#f

In [1]:
print("praveer","praveer",end='#')

praveer praveer#

In [3]:
print(2e4)

20000.0

In [16]:
#a=_10  error

NameError: name '_10' is not defined

In [2]:
var1:int=10
var1="abc"
print(var1)

abc

In [3]:
a

NameError: name 'a' is not defined

In [10]:
10 and 1

1

In [11]:
if 5>6:
    print("True")
elif 6>3:
    print("True")

True

In [16]:
10+10.5

20.5

In [17]:
10+False

10

In [18]:
int(10.3)

10

In [20]:
isinstance(10,type)

False

In [21]:
i=10
j=10
print(id(i),id(j))

140711854773320 140711854773320

In [23]:
n=5
for i in range(n):
    print('*'*i)

*
**
***
****

In [31]:
n=5
for i in range(2*(n-1),1,-2):
    print('*'*(i-1))

*******
*****
***
*

In [52]:
n=5
for i in range(0,n,2):
    print(' '*(n-i-1),(i+1)*'*')
for j in range(n-2,0,-2):
    print(' '*(n-j),'*'*j)

     *
   ***
 *****
   ***
     *

In [35]:
n=5
for i in range(0,n,2):
    print(' '*(n-i-1),'*'*(i+1))
for j in range(1,n,2):
    print(' '*(j+1),'*'*(n-j-1))

     *
   ***
 *****
   ***
     *

In [44]:
n=5
sp=n-1
for i in range(1,n+1,2):
    print(' '*sp,'*'*i)
    sp=sp-2
sp=2
for j in range(n-2,0,-2):
    print(' '*sp,'*'*j)
    sp=sp+2

     *
   ***
 *****
   ***
     *

In [59]:
n=4
for i in range(n):
    print(' '*(i),'1','01'*(n-i-1),sep='')

1010101
 10101
  101
   1

In [63]:
n=5
for i in range(5):
    print(str(i)*i)

1
22
333
4444

In [65]:
n=5
sp=n-3
for i in range(1,n+1,2):
    print(' '*sp,'*'*i)
    sp=sp-1
sp=1
for j in range(n-2,0,-2):
    print(sp*' ','*'*j)
    sp=sp+1

   *
  ***
 *****
  ***
   *

In [66]:
10==10.0

True

In [73]:
a=10
match a:
    case 1 | 10:
        print("number1")
    case 10:
        print("number2")
    case _:
        print("not matched any")

number1

In [74]:
print(bin(10))

0b1010

In [75]:
a='a'
b='a'
print(id(a),id(b))

140710474719752 140710474719752

In [85]:
a=complex(11)
print(a,type(a))

(11+0j) <class 'complex'>

In [88]:
a=hex(11)
a

'0xb'

In [89]:
a=oct(11)
a

'0o13'

In [102]:
import math
n=9
if math.sqrt(n)-int(math.sqrt(n))>0:
    print("not perfect ")

In [106]:
num=10.45345
from fractions import Fraction
Fraction(num)

Fraction(2942384595296007, 281474976710656)

In [111]:
#calculator
num1 = int(input("Enter the number 1 "))
num2 = int(input("Enter the number 2 "))
n=True
while(n):
    n1=input("Press E to exit")
    if n1=='E':
        break;
    option = input("Enter the operation +)Add -)subs *)mul /)div")
    match(option):
        case '+':
            print(num1+num2)
        case '-':
            print(num1-num2)
        case _:
            print('Enter the valid option')

Enter the number 1 12
Enter the number 2 10
Press E to exitr
Enter the operation +)Add -)subs *)mul /)div+
22
Press E to exitE

In [118]:
#check prime number
# n -> check till sqrt(n)
import math
n=int(input("Enter the number"))
for i in range(2,math.floor(n**(1/2))):
    if n%i==0:
        print("Number is not prime")
        break;
else:
    print("Number is prime")

Enter the number9
Number is prime

In [113]:
9**(1/2)

3.0

# List

In [121]:
l1=list()
print(l1,type(l1))

[] <class 'list'>

In [122]:
l2=[10,20,30]
for i in l2:
    print(i)

10
20
30

In [129]:
l2=[10,20,30]
for i in enumerate(l2):
    print(i)

(0, 10)
(1, 20)
(2, 30)