In [1]:
import mysql.connector
cnx = mysql.connector.connect(user='root',password='root',host='127.0.0.1',database='mytrial')
cur = cnx.cursor()
cur.execute("""CREATE TABLE student1( 
            roll_no INT, 
            subid varchar(10), 
            marks INT);""")
cnx.commit()
cnx.close()

In [2]:
records=[[1,'sub1',34],
         [2,'sub1',30],
         [3,'sub1',23],
         [1,'sub2',23],
        [2,'sub2',26],
        [3,'sub2',30],
        [1,'sub3',30],
        [2,'sub3',30],
        [3,'sub3',27],
    ]
cnx = mysql.connector.connect(user='root', 
                              password='root',
                              host='127.0.0.1',
                              database='mytrial')
cur=cnx.cursor()
for rno, sub, marks in records:
    query = "insert into student1 values(" +\
                str(rno)+","+\
                repr(sub) + ","+\
                str(marks)+");"
    print(query)
    cur.execute(query)

cnx.commit()
cnx.close()

insert into student1 values(1,'sub1',34);
insert into student1 values(2,'sub1',30);
insert into student1 values(3,'sub1',23);
insert into student1 values(1,'sub2',23);
insert into student1 values(2,'sub2',26);
insert into student1 values(3,'sub2',30);
insert into student1 values(1,'sub3',30);
insert into student1 values(2,'sub3',30);
insert into student1 values(3,'sub3',27);

In [3]:
cnx = mysql.connector.connect(user='root', 
                              password='root',
                              host='127.0.0.1',
                              database='mytrial')
cur=cnx.cursor()
cur.execute("select * from student1")

for row in cur:
    print(row)
    
cnx.commit()
cnx.close()

(1, 'sub1', 34)
(2, 'sub1', 30)
(3, 'sub1', 23)
(1, 'sub2', 23)
(2, 'sub2', 26)
(3, 'sub2', 30)
(1, 'sub3', 30)
(2, 'sub3', 30)
(3, 'sub3', 27)